
/* -------------------------------------------------------- VARIABLES */

:root {
	--main-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	--cell-bg-color: #EEEEEE;
	--reset-button-bg-color: hsl(200deg, 80%, 70%);
	--reset-button-font-color: #FFFFFF;
}

/* ------------------------------------------------------------ RESET */

*,
*::before,
*::after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 10px;
}

input,
button {
  font: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------------------------------- GENERAL */

body {
	display: flex;
	flex-direction: column;
	font: calc(1.6rem + .5vmin) var(--main-font-family);
	gap: 30px;
	min-height: 100vh;
	place-content: center;
	place-items: center;
}

/* -------------------------------------------------------- GAMEBOARD */

.gameboard {
	aspect-ratio: 1;
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	min-height: 50vh;
	max-height: 100vh;
	transition: all .25s ease-in-out;
}

.gameboard.isWinningCombination {
	gap: 60px;
}

.cell {
	background-color: var(--cell-bg-color);
	color: var(--cell-bg-color);
	display: flex;
	font-size: 4em;
	font-weight: bold;
	place-content: center;
	place-items: center;
	transition: all .25s ease-in-out;
}

.cell.isFull:hover,
.cell.isFull:focus,
.gameboard.isWinningCombination .cell:hover,
.gameboard.isWinningCombination .cell:focus {
	cursor: not-allowed;
}

.cell:hover,
.cell:focus {
	cursor: pointer;
}

.cell.isFull {
	color: #000000;
}

.cell.isWinningCombination {
	font-size: 4.35em;
	transform: scale(1.35);
}

/* ----------------------------------------------------- RESET BUTTON */

.reset-button {
	background-color: var(--reset-button-bg-color);
	border-radius: 15px;
	color: var(--reset-button-font-color);
	font-weight: bold;
	letter-spacing: .125ch;
	opacity: 0;
	padding: 1ch 2ch;
	transition: all .25s ease-in-out;
}

.reset-button:hover,
.reset-button:focus {
	cursor: pointer;
	transform: scale(1.25);
}

.reset-button.isVisible {
	opacity: 1;
}
